.content-orders {
    max-width: 1295px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 29px;
    margin: 20px auto 86px;
}
@media screen and (max-width: 1317px) {
    .content-orders {
        grid-template-columns: repeat(1, 1fr);
   }
}
@media screen and (max-width: 955px) {
    .content-orders {
        grid-template-columns: repeat(1, 1fr);
   }
}


