.popup-container {
    width: 100vw; 
    height: 100vh; 
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center; 

    display: flex; 

    align-items: center;
    background-color: transparent;

    opacity: 0;
    z-index: -1;
}

.popup {
    width: 1296px;
    max-height: 530px;
    padding: 51px 85px 52px 147px;
    box-sizing: border-box;

    background-color: rgba(29, 29, 29, 0.5);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    mix-blend-mode: normal;

 

    border-radius: 20px;
    border: 1px solid #B9A775;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
/*
.popup {
    width: 1296px;
    max-height: 530px;
    padding: 51px 85px 52px 147px;
    box-sizing: border-box;

    background-color: rgba(29, 29, 29, 0.5);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    mix-blend-mode: normal;

    position: fixed;
    top: 20%;

    border-radius: 20px;
    border: 1px solid #B9A775;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 3;

    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
    visibility: hidden;
}
*/


.popup_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
    z-index: 3;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}



.popup__profile {
    width: 375px;
    height: 427px;
    background-color: #1D1D1D;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 121px 108px 130px 108px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup__profile:hover {
    cursor: pointer;
}


.popup__profile-img {
    width: 108px;
    height: 118px;
    box-sizing: cover;
}

.popup__profile-text {
    margin: 25px 0 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #C4C4C4;
}


.popup__close {
    background-image: url(../../images/popup-close.svg);
    background-color: transparent;
    width: 16px;
    height: 17px;
    background-size: cover;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
}

.popup__close {
    cursor: pointer;
}

.popup__description-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.popup__description-contacts:hover {
    cursor: pointer;
}

.popup__description-contacts_positiv {
    margin: 55px 0 0 0;
}
.popup__description-contacts_negativ {
    margin: 45px 0 0 0;
}

.contacts-logo {
    background-image: url(../../images/tlg-active.svg);
    width: 31px;
    height: 25px;
    margin-right: 17px;
}

.contacts-link {
    margin: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #B9A775;
}

.popup__description-img {
    background-size: contain;
}

.popup__description-img_positiv {
    width: 554px;
    height: 258.92px;
    margin-left: -42px;
}

.popup__description-img_negativ {
    width: 486px;
    height: 160px;
    margin: 47px 0 48px;
}

.popup__description-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #C4C4C4;
    margin: 0;
}

.popup__description-text_positiv {
    width: 461px;
}

.popup__description-text_negativ {
    width: 564px;
}

.popup__description-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #B9A775;
    margin: 0;
}


.popup__form {
    width: 375px;
    height: 427px;
    box-sizing: border-box;
    padding: 31px 50px 29px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    background: #1D1D1D;
    border-radius: 20px;
}

.popup__form-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #B9A775;
    margin: 0 0 28px;
}

.popup__form-label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #C4C4C4;

    margin: 0 0 25px;
}

.popup__form-input {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
    padding: 8px 0 8px 12px;
    background-color: transparent;
    margin-top: 11px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #C4C4C4;
}

.popup__form-button {
    padding: 0;
    border: 0;
    width: 100%;
    height: 40px;
    background: #B9A775;
    border-radius: 20px 0px 0px 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #1D1D1D;
}

.popup__form-button:hover {
    cursor: pointer;
    transition-duration: .3s;
    opacity: 0.6;
}

.popup__form-text {
    margin: 22px 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #515151;
}

.popup__footer-mobile {
    display: none;
}

.mobile-line-break {
    display: none;
}

@media screen and (max-width: 1320px) {
    .popup {
        width: 90%;
        top: 10%
    } 
}

@media screen and (max-width: 1229px) {

    .popup__form {
        width: 325px;
        height: 371px;
        box-sizing: border-box;
        padding: 27px 44px 26px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    
        background: #1D1D1D;
        border-radius: 20px;
        opacity: 1;
    
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    }

    .popup__form-title {
        font-size: 19px;
        line-height: 23px;
        color: #B9A775;
        margin: 0 0 25px;
    }

    .popup__form-label {
        font-size: 15px;
        line-height: 19px;
        margin: 0 0 21px;
    }

    .popup__form-input {
        margin-top: 5px;
    }

    .popup__form-button {
        height: 35px;
        font-size: 12px;
        line-height: 15px;
        margin-top: 13px;
    }

    .popup__form-text {
        margin: 19px 0 0;
        font-size: 10px;
        line-height: 12px;
    }

    .popup__description-title {
        font-size: 24px;
        line-height: 29px;
    }

    .popup__description-img_negativ {
        width: 320px;
        height: 185px;
        margin: 0;
    }

    .popup__description-text {
        font-size: 11px;
        line-height: 16px;
    }

    .popup__description-text_negativ {
        width: 320px;
    }
}

@media screen and (max-width: 1220px) {
    .mobile-line-break {
        display: inline;
    }

    .popup__description-title {
        width: 263px;
        font-size: 24px;
        line-height: 29px;
        margin: 0;
    }


    .popup__description-img_positiv {
        width: 400px;
        height: 145px;
        margin-left: -42px;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size:cover;
        -moz-background-size:cover;
        background-size:cover;
    }

    .popup__description-text_positiv {
        width: 300px;
        margin-top: 6px;
    } 
}




@media screen and (max-width: 950px) {
    .popup {
        width: 376px;
        max-height: 797px;
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 33px 25px 24px 27px;
        border: none;
    }


    .popup__close {
        width: 9px;
        height: 10px;
        top: 18px;
        right: 29px;
    }

    .popup__description-contacts {
        display: none;
    }

    .popup__description-contacts-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .popup__form {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.75);
        background: #1B1B1B;
        margin: 41px 0 31px;
        backdrop-filter: blur(0px);
        
    }

    .popup__footer-mobile {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .popup__footer-profile {
        background-image: url(../../images/profilelogo.svg);
        width: 21px;
        height: 22px;
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        padding: 0;
    }

    .contacts-logo {
        width: 23px;
        height: 18px;
        background-color: transparent;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .contacts-link {
        font-size: 13px;
        line-height: 19px;
    }

    .popup__description-img_negativ {
        width: 255px;
        height: 84px;
        background-size: contain;
        margin: 54px 0 47px 33px;
        align-self: center;
    }

    .popup__profile {
        width: 90%;
    }

    .popup__description-img_positiv {
        width: 310px;
        height: 145px;
        margin: 0;
    }

    
}


@media screen and (max-width: 900px) {
    .popup__profile {
        display: none;
    }

    .popup__description-text_positiv {
        margin-bottom: 37px;
        width: 100%;
    }

    .popup__container-positiv {
        padding: 18px 19px 22px 27px;
    }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px); }
  70% {
    transform: translateY(30px); }
  90% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }

@keyframes bounce {
  0% {
    transform: translateY(-2000px); }
  70% {
    transform: translateY(30px); }
  90% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }