.popup__description-img {
    background-size: contain;
}

.popup__description-img_positiv {
    width: 554px;
    height: 258.92px;
    margin-left: -42px;
}

.popup__description-img_negativ {
    width: 486px;
    height: 160px;
    margin: 47px 0 48px;

}