.content-cards{
    width: 814px;
    margin-right: 62px;
}

@media screen and (max-width: 1350px) {
    .content-cards {
        width: 100%;
        height: auto;
        overflow-y: auto;
   }
    .content-cards::-webkit-scrollbar {
        display: none;
   }
}
