.popup-header {
    display: flex;
    position: fixed;
    top:0;
    right: -100%;
  

    width: 100%;
    height: 354px;

    border-radius: 20px;
    background-color: #171717;
    padding: 58px 0 0 50px;
    box-sizing: border-box;
    z-index: 2;
    transition: all ease-in-out 0.8s;
}

.popup-header_open {
    right: 0;
    opacity: 1;
}


.popup-header__items {
    padding: 0;
    margin: 0;

}

.popup-header__item {
    width: 100%;
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #C4C4C4;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 33px;
    margin-left: 44px;
}

.popup__close_header-popup {
    top: 16px;
    right: 28px;
}

.popup-header__item_activ {
    color: #B9A775;
    margin-left: 0;

}

.popup-header__li {
    display: none;
}


.popup-header__li_activ {
    display: inline;
    background-color: #B9A775;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    margin-right: 25px;
}

.item-link {
    outline: none;
    text-decoration: none;
}





