.content-form {
    width: 420px; 
}
.form {
    width: 100%;
    padding: 24px 36px 32px 36px;
    box-sizing: border-box;
    background-color: #1D1D1D;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;   
    border: 2px solid #B9A775;
}
.order-status {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 43px;
}
.order-status__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #B9A775;
    margin: 0;
}
.order-status__img {
    display: block;
    width: 28px;
    height: 19px;
    background-color: transparent;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
}
.order-status__img_active {
    background-image: url(../../images/GalkaGolg.svg);
}
.order-information__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.order-information__container_user {
    margin-bottom: 33px;
}
.order-information__delivery {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.order-information__title {
    display: flex;
    flex-direction: row;
    align-self: start;
    justify-content: start;
    margin-bottom: 17px;
}
.order-information__img {
    display: block;
    width: 23px;
    height: 18px;
    background-color: transparent;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
}
.order-information__img_delivery {
    background-image: url(../../images/delivery.svg);
}
.order-information__img_user {
    background-image: url(../../images/user.svg);
}
.order-information__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #C4C4C4;
    margin: 0;
}
.order-information__adress {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #C4C4C4;
    margin: 0 0 8px;
}
.order-information__user {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #C4C4C4;
    margin: 0;
}
.order-information__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-bottom: 27px;
}
.order__info {
    width: 100%;
    height: 153px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 37px 61px 46px 66px;
    box-sizing: border-box;
    border: 1px rgba(196, 196, 196, 1) solid;
    border-radius: 10px;
    align-items: flex-end;
    margin-bottom: 27px;
 }
 .order__result {
     width: 220px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }
 .order__result:first-of-type {
     margin-bottom: 16px;
 }
 .order__result-dashed {
    content: " ";
    display: none;
    border-bottom: 1px dashed grey;
    width: 100%;
    align-self: center;
    margin: 0 13px 0;
 }
 .order__result-text {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 20px;
     color: #FFFFFF;
     margin: 0;
     white-space: nowrap;
 }
 .order__result-price {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 400;
     font-size: 28px;
     line-height: 34px;
     color: #FFFFFF;
     margin: 0;
     white-space: nowrap;
 }

.order-information-btn__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}
 .form__result_ask-bloc {
     width: 110px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     position: relative;
 }
.form__result-ask {
    background-image: url(../../images/askOrder.svg);
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    align-self: center;
    background-repeat: no-repeat;
    background-color: transparent;
    position: relative;
}
.form__result_ask-bloc:hover {
    cursor: pointer;
    transition-duration: .3s;
    opacity: 1;
}
.form__result_ask-bloc::after {
    content: attr(data-tooltip);
    opacity: 0;

    position: absolute;
    left: -100px; 
    top: -100px;
    z-index: 2;

    width: 223px;
    height: 80px;
    background:#C4C4C4;
    color: #1D1D1D;

    box-sizing: border-box;
    padding: 16px 20px;
  
    border-radius: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    pointer-events: none;
}
.form__result_ask-bloc:hover::after {
    opacity: 1;
    top: 2em;
    z-index: 2;
}
.form__result-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #B9A775;
    margin: 0;
}
.order__button {
    width: 107px;
    border: none;
    padding: 0;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.order__button-logo-delete {
    background-image: url(../../images/delete1.svg);
    display: block;
    width: 22px;
    height: 24px;
    background-color: transparent;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
}
.order__button-text-delete {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #C4C4C4;
    margin: 0;
}

.form-title__mobile {
    display: none;
}

@media screen and (max-width: 1350px) {
    .content-form {
        width: 100%; 
    }
    .form {
        width: 100%;
        border: none;
        padding: 27px 47px 32px 36px;
        background-color: #1B1B1B;
        margin-bottom: 34px;
    }
    .order-status {
        margin: 0 0 39px;
    }
    .order-status__text {
        font-size: 24px;
        line-height: 29px;
    }
    .order-information__title {
        display: flex;
        flex-direction: row;
        align-self: start;
        justify-content: start;
        margin-bottom: 0;
    }
    .order-information__container_delivery {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .order-information__container_user {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }
    .order-information__delivery {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        margin: 16px 0 43px;
    }
    .order-information__img {
        width: 24px;
        height: 19px;
        margin-right: 18px;
    }
    .order-information__text {
        font-size: 20px;
        line-height: 24px;
    }
    .order-information__user {
        font-size: 24px;
        line-height: 29px;
        margin: 0;
    }
    .order-information__adress {
        font-size: 18px;
        line-height: 22px;
        margin: 0;
    }
    .order-information__link {
        font-size: 16px;
        line-height: 20px;
        margin: 0;
    }
    .order__info {
        padding: 33px 50px 42px 42px;
        margin-bottom: 44px;
     }
     .order__result {
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
     }
     .order__result:first-of-type {
         margin-bottom: 18px;
     }
     .order__result-dashed {
        display: inline-block;
     }
     .order__result-text {
         font-size: 22px;
         line-height: 27px;
     }
     .text-colon {
         display: none;
     }
     .order__result-price {
         font-size: 30px;
         line-height: 37px;
     }
}

@media screen and (max-width: 770px) {
    .order-information__img {
        width: 22px;
        height: 18px;
        margin-right: 19px;
    }
    .order-information__text {
        font-size: 22px;
        line-height: 18px;
    }
    .order-information__delivery {
        margin: 18px 0 45px;
    }
    .order-information__user {
        font-size: 20px;
        line-height: 24px;
    }
    .order-information__adress {
        font-size: 16px;
        line-height: 20px;
    }
    .order-information__link {
        font-size: 14px;
        line-height: 17px;
    }
    .order-information__container_user {
       margin-bottom: 43px;
    }
    .order__info {
        padding: 37px 318px 45px 66px;
        margin-bottom: 44px;
     }
     .order__result:first-of-type {
         margin-bottom: 15px;
     }
     .order__result-dashed {
        display: none;
     }
     .order__result-text {
         font-size: 18px;
         line-height: 22px;
     }
     .text-colon {
         display: inline;
     }
     .order__result-price {
         font-size: 28px;
         line-height: 34px;
     } 
}
@media screen and (max-width: 730px) {
    .order__info {
        padding: 37px 100px 45px 66px;
        margin-bottom: 44px;
    }
     .order__result:first-of-type {
         margin-bottom: 15px;
    }
     .order__result-dashed {
        display: none;
    }
     .order__result-text {
         font-size: 18px;
         line-height: 22px;
    }
     .text-colon {
         display: inline;
    }
     .order__result-price {
         font-size: 28px;
         line-height: 34px;
    } 
}
@media screen and (max-width: 700px) {
    .form-title__mobile {
        font-family: 'Forum';
        font-style: normal;
        font-weight: 400;
        font-size: 33.0571px;
        line-height: 36px;
        display: block;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #B9A775;

        margin: 91px auto 0;
    }
    .form {
        margin: 18px auto 42px;
        width: 392px;
        padding: 25px 22px 25px 22px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   
    }
    .order-status {
        margin: 0 0 43px;
    }
    .order-status__text {
        font-size: 20px;
        line-height: 24px;
    }
    .order-information__text {
        font-size: 18px;
        line-height: 22px;
    }
    .order-information__delivery {
        flex-direction: column;
        margin: 18px 0 27px;
    }
    .order-information__img {
        width: 24px;
        height: 19px;
        margin-right: 18px;
    }
    .order-information__text {
        font-size: 20px;
        line-height: 24px;
    }
    .order-information__user {
        font-size: 16px;
        line-height: 20px;
        margin: 17px 0 0;
    }
    .order-information__adress {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 8px;
    }
    .order-information__link {
        font-size: 14px;
        line-height: 17px;
        margin: 0;
    }
    .order-information__container_user {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }
    .order__info {
        padding: 37px 61px 56px 66px;
        margin-bottom: 27px;
    }
     .order__result:first-of-type {
         margin-bottom: 16px;
    }
     .order__result-dashed {
        display: none;
    }
     .order__result-text {
         font-size: 16px;
         line-height: 20px;
    }
     .text-colon {
         display: inline;
    }
     .order__result-price {
         font-size: 28px;
         line-height: 34px;
    }
    .form__result_ask-bloc::after {
        left: 0px; 
        top: -100px;
    }  
}
   
