.content-cards-button {
    max-width: 792px;
}


@media screen and (max-width: 1350px) {
    .content-cards-button {
        width: 60%;
    }
}

@media screen and (max-width: 900px) {
    .content-cards-button {
        width: 375px;
        margin-bottom: 91px;
    }
    
}