.content-cards-button {
    width: 814px;
    height: 1015px;
    overflow-y: scroll;
}

.content-cards-button::-webkit-scrollbar  {
    width: 4px;
    opacity: 0.15;
    border-radius: 5px;
}

.content-cards-button::-webkit-scrollbar-track {
    background: rgba(185, 167, 117, 0.15);
    width: 4px;
    border-radius: 5px;
}

.content-cards-button::-webkit-scrollbar-thumb {
    background: rgba(185, 167, 117, 0.3);
    width: 4px;
    border-radius: 5px;
    

}


@media screen and (max-width: 1350px) {
    .content-cards-button {
        width: 100%;
        height: auto;
        overflow-y: auto;
    }
}

@media screen and (max-width: 900px) {
   
    
}