.card__button-logo {
    background-image: url(../../../images/popapclosed.svg);
    width: 19px;
    height: 18px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-right: 18px;
}

.card__button-logo_active {
    transform: rotate(180deg);
}