.header__counter {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 9px;
    color: white;
    margin: 0;
}

.header__counter_active {
    color: #B9A775;;
}