.footer {
    margin-top: 131px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 41px 0 41px;
    align-items: center;
}

.footer__icon {
    background-image: url(../../images/tlg.svg);
    width: 31px;
    height: 25px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.logo-footer {
    background-image: url(../../images/SINNERGEMS-logo.svg);
    background-size: cover;
    width: 218.79px;
    height: 26.1px;
}

.copyright-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 313px;
    margin-right: 481px;
}


.copyright-container__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 5px;
}


.copyright-container__text:last-of-type {
    margin: 0;
}

@media screen and (max-width: 1340px) {
    .copyright-container {
        margin-right: 389px;
    }
}

@media screen and (max-width: 1312px) {
    .copyright-container__text {
        font-size: 12px;
    }


    .copyright-container {
        margin-right: 385px;
    }
}

@media screen and (max-width: 1332px) {
    .copyright-container {
        margin-right: 380px;
    }
}

@media screen and (max-width: 1182px) {
    .copyright-container {
        margin-right: 370px;
    }
}

@media screen and (max-width: 1176px) {
    .copyright-container {
        margin-right: 250px;
    }
}


@media screen and (max-width: 1150px) {
    .footer {
        justify-content: space-between;
        padding: 41px 0 41px;
    }

    .copyright-container {
        margin: 0;
    }

    .logo-footer {
        background-image: url(../../images/S.svg);
        width: 22px;
        height: 34px;
    }

    .copyright-container__text {
        font-size: 10px;
        line-height: 12px;
    }
}