.card-order {
    width: 633px;
    height: 598px;
    border-radius: 14px;
    position: relative;
    background: linear-gradient(0.06deg, #B9A775 0.06%, rgba(185, 167, 117, 0) 80.09%);
}
.card-order__border {
    height: 99.9%;
    background: #1D1D1D;
    box-sizing: border-box;
    
    border-radius: 0 0 14px 14px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 36px 35px 49px 46px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: -2px;
}
.order-information {
    position: absolute;
    top: 36px;
    left: 45px;
}
.order-number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}
.order-date {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 2px 0 0;
}
.order-delivery {
    position: absolute;
    top: 39px;
    right: 35px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 129px;
}
.order-delivery__img {
    display: block;
    width: 16px;
    height: 11px;
    background-color: transparent;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: start;
}
.order-delivery__img_active {
    background-image: url('../../images/galka.svg');
}
.order-delivery__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0;
}
.order-items__gradient {
    width: 320px;
    height: 100px;
    margin-top: 80px;
    position: relative;
}
.order-items__gradient::after {
    display: flex;
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(270deg, #1D1D1D 35%, rgba(29, 29, 29, 0.82) 54.72%, rgba(29, 29, 29, 0.525531) 83.76%, rgba(29, 29, 29, 0) 100%);
    width: 100px;
    height: 100%;
    pointer-events: none;
    z-index: 3;
    margin-right: -5px;
}
.order-items__count {
    display: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #B9A775;
    pointer-events: none;
    margin: 0;

    position: absolute;
    z-index: 4;
    top: 42px;
    right: 39px;

    opacity: 0;
}
.order-items__count_active {
    opacity: 1;
}
.order-items {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    overflow-x: scroll;
}
.order-items::-webkit-scrollbar  {
    display: none;
}
.order-items::-webkit-scrollbar-track {
    display: none;
}
.order-items::-webkit-scrollbar-thumb {
    display: none;
}
.order-item {
    width: 80px;
    height: 84px;
    margin-right: 40px;
}
.order-user-information {
    margin: 67px 0 48px;
    display: grid;
    grid-template-columns: 23px 336px;
    grid-template-rows: 23px 23px;
    row-gap: 13px;
    column-gap: 23px;
}
.order-user-information__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0;
}
.order-user-information__img {
    display: flex;
    background-size: contain;
    background-position: center;
    align-self: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 23px;
    height: 18px;
}
.order-user-information__img_delivery {
    background-image: url('../../images/delivery.svg');
}
.order-user-information__img_user {
    background-image: url('../../images/user.svg');
}
.order-user-information__img_user-anonim {
    background-image: url('../../images/anonim.svg');
}
.order-user-information__text-anonim {
    color: #515151;
}
.order__info {
   display: grid;
   grid-template-columns: 79px 136px;
   grid-template-rows: 34px 20px;
   row-gap: 20px;
   column-gap: 53px;
}
.order__result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.order__result:first-of-type {
    margin-bottom: 18px;
}
.order__result-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
}
.order__result-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    margin: 0;
}
.order__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 0;
    padding: 12px 30px 11px 27px;
    height: 40px;
    width: 189px;
    background-color: #B9A775;
    border-radius: 20px 0px 0px 0px;

    position: absolute;
    bottom: 49px;
    left: 45px;

    cursor: pointer;
}
.order__button-logo-setting {
    background-image: url(../../images/settingBlack.svg);
    width: 19px;
    height: 19px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}
.order__button-text-setting {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #1D1D1D;
    margin: 0;
}
.form__result_ask-bloc {
    width: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    bottom: 57px;
    right: 35px;
}
.form__result-ask {
    background-image: url(../../images/askOrder.svg);
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: center;
    align-self: center;
    background-repeat: no-repeat;
    background-color: transparent;
    position: relative;
}
.form__result_ask-bloc:hover {
    cursor: pointer;
    transition-duration: .3s;
    opacity: 1;
}
.form__result_ask-bloc::after {
    content: attr(data-tooltip);
    opacity: 0;

    position: absolute;
    left: -200px; 
    top: -200px;
    z-index: 2;

    width: 223px;
    height: 80px;
    background:#C4C4C4;
    color: #1D1D1D;

    box-sizing: border-box;
    padding: 16px 20px;
  
    border-radius: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    pointer-events: none;

}
.form__result_ask-bloc:hover::after {
    opacity: 1;
    top: 2em;
    z-index: 2;
}
.form__result-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #B9A775;
    margin: 0;
}

@media screen and (max-width: 1317px) {
    .card-order {
        width: 897px;
        height: 598px;
    }
    .card-order__border {
        padding: 36px 42px 49px 50px;
    }
    .order-item {
        width: 125px;
        height: 129px;
        margin-right: 66px;
    }
    .order-items__gradient {
        width: 523px;
        height: 157px;
        margin-top: 76px;
        position: relative;
    }
    .order-items__count {
        font-size: 21px;
        line-height: 27px;
        position: absolute;
        top: 65px;
        right: 62px;
    }
    .order-items__gradient::after {
        width: 150px;
    }
    .order-user-information {
        margin: 26px 0 32px;
        display: grid;
        grid-template-columns: 23px 336px;
        grid-template-rows: 23px 23px;
        row-gap: 18px;
        column-gap: 13px;
    }
    .order__info {
        display: grid;
        grid-template-columns: 97px 148px;
        grid-template-rows: 34px 20px;
        row-gap: 18px;
        column-gap: 48px;
     }
     .order__result-text {
         font-size: 18px;
         line-height: 22px;
     }
     .order__button {
        padding: 11px 32px 11px 29px;
        height: 40px;
        width: 189px;
        background-color: #B9A775;
        bottom: 49px;
        left: 50px;
    }
    .order__button-logo-setting {
        width: 121px;
        height: 20px;
    }
    .order__button-text-setting {
        font-size: 15px;
        line-height: 19px;
    }
    .form__result_ask-bloc {
        width: 147px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        position: absolute;
        bottom: 57px;
        right: 35px;
    }
    .form__result-ask {
        width: 32px;
        height: 32px;
    }
    .form__result-text {

        font-size: 19px;
        line-height: 23px;
    }
}

@media screen and (max-width: 955px) {
    .card-order {
        width: 100%;
        height: 598px;
    }
    .card-order__border {
        padding: 37px 46px 49px 50px;
    }
    .order-information {
        position: absolute;
        top: 37px;
        left: 50px;
    }
    .order-number {
        font-size: 22px;
        line-height: 27px;
    }
    .order-date {
        margin: 3px 0 0;
    }
    .order-delivery {
        position: absolute;
        top: 40px;
        right: 46px;
    }
    .order-item {
        width: 79px;
        height: 82px;
        margin-right: 42px;
    }
    .order-items__gradient {
        width: 332px;
        height: 100px;
        margin-top: 72px;
        position: relative;
    }
    .order-items__count {
        font-size: 14px;
        line-height: 17px;
        position: absolute;
        top: 41px;
        right: 41px;
    }
    .order-items__gradient::after {
        width: 100px;
    }
    .order-user-information {
        margin: 57px 0 48px;
        display: grid;
        row-gap: 23px;
        column-gap: 13px;
    }
    .order__info {
        display: grid;
        grid-template-columns: 79px 148px;
        grid-template-rows: 34px 20px;
        row-gap: 20x;
        column-gap: 53px;
     }
     .order__result-text {
         font-size: 16px;
         line-height: 20px;
     }
     .order__button {
        padding: 11px 32px 10px 27px;
        height: 40px;
        width: 189px;
        background-color: #B9A775;
    }
    .order__button-logo-setting {
        width: 19px;
        height: 18px;
    }
    .order__button-text-setting {
        font-size: 14px;
        line-height: 17px;
    }
    .form__result_ask-bloc {
        width: 110px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        position: absolute;
        bottom: 57px;
        right: 46px;
    }
    .form__result-ask {
        width: 24px;
        height: 24px;
    }
    .form__result-text {

        font-size: 14px;
        line-height: 17px;
    }
}
@media screen and (max-width: 768px) {
    .card-order {
        width: 683px;
        height: 598px;
    }
}
@media screen and (max-width: 740px) {
    .card-order {
        width: 610px;
        height: 598px;
    }
}
@media screen and (max-width: 674px) {
    .card-order {
        width: 590px;
        height: 598px;
    }
}

@media screen and (max-width: 637px) {
    .card-order {
        width: 100%;
        height: 448px;
    }
    .card-order__border {
        padding: 25px 28px 23px 27px;
    }
    .order-information {
        position: absolute;
        top: 25px;
        left: 27px;
    }
    .order-number {
        font-size: 18px;
        line-height: 22px;
    }
    .order-date {
        font-size: 18px;
        line-height: 22px;
    }
    .order-delivery {
        position: absolute;
        width: 119px;
        top: 26px;
        right: 28px;
    }
    .order-delivery__text {
        font-size: 16px;
        line-height: 20px;
    }
    .order-item {
        width: 77px;
        height: 80px;
        margin-right: 25px;
    }
    .order-items__gradient {
        width: 294px;
        height: 95px;
        margin-top: 62px;
        position: relative;
    }
    .order-items__count {
        font-size: 13px;
        line-height: 16px;
        position: absolute;
        top: 39px;
        right: 37px;
    }
    .order-items__gradient::after {
        width: 100px;
    }
    .order-user-information {
        margin: 40px 0 36px;
        display: grid;
        grid-template-columns: 18px 224px;
        grid-template-rows: 14px 14px;
        row-gap: 18px;
        column-gap: 11px;
    }
    .order-user-information__text {
        font-size: 12px;
        line-height: 15px;
    }
    .order-user-information__img {
        width: 18px;
        height: 14px;
    }
    .order__info {
        display: grid;
        grid-template-columns: 69px 105px;
        grid-template-rows: 27px 27px;
        row-gap: 16px;
        column-gap: 38px;
     }
     .order__result-text {
         font-size: 14px;
         line-height: 17px;
     }
     .order__result-price {
        font-size: 22px;
        line-height: 27px;
    }
     .order__button {
        padding: 6px 14px 5px 18px;
        height: 25px;
        width: 127px;
        background-color: #B9A775;
        bottom: 23px;
        left: 27px;
    }
    .order__button-logo-setting {
        width: 13px;
        height: 12px;
    }
    .order__button-text-setting {
        font-size: 11px;
        line-height: 13px;
    }
    .form__result_ask-bloc {
        width: 84px;
    
        bottom: 28px;
        right: 28px;
    }
    .form__result-ask {
        width: 16px;
        height: 16px;
    }
    .form__result-text {

        font-size: 11px;
        line-height: 13px;
    }
}
@media screen and (max-width: 420px) {
    .card-order {
        width: 372px;
        height: 448px;
    }
}










