.form__input {
    width: 331.66px;
    padding: 0;
    border: 1px rgba(196, 196, 196, 1) solid;
    border-radius: 6px;
    background-color: #1D1D1D;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #C4C4C4;
    padding-left: 15.34px;
}

.form__input_delivery {
    height: 73px;
    padding-top: 10px;
}

.form__input_user {
    height: 36px;
}

.form__input_user:last-of-type {
    margin-top: 11px;
}

